body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #ec97f9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #ba68c8;
    color:floralwhite;
}

.navbar-dark {
     background-color: #883997;
}

.padding-top-inicio {
    padding-top: 50px;
}