body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #ec97f9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #ba68c8;
    color:floralwhite;
}

.navbar-dark {
     background-color: #883997;
}

.padding-top-inicio {
    padding-top: 50px;
}

.form-input {
    background-color: #e9ecef;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

/* Form Buttons */
.form-button {
border:none;
padding: 10px;
background-color: #883997;
color: white;
}
.form-button:hover{
    background-color: #ba68c8;
}
.form-button:active{
    background-color: #883997;
}

/* Header Carousel */
.carousel {
    background: #ba68c8;
}
.carousel-item {
    height: 400px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 450px;
}

.carousel-item .carousel-img {
    width: 100%;

    opacity: 0.5;
    background-color: black;
}

.carousel-caption {
    background-color: #ba68c8;
}

.login {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    color: rgba(255,255,255,.5);
}
.login:hover {
    color: #fff;
}


/********************* Elementos de colecciones, mercado y biblioteca  **********************/
.product-grid3{font-family:Roboto,sans-serif;text-align:center;position:relative;z-index:1}
.product-grid3:before{content:"";height:81%;width:100%;background:#fff;opacity:0;position:absolute;top:0;left:0;z-index:-1;transition:all .5s ease 0s}
.product-grid3:hover:before{opacity:1;height:100%}
.product-grid3 .product-image3{position:relative}
.product-grid3 .product-image3 a{display:block}
.product-grid3 .product-image3 img{width:100%;height:auto;transition: all .5s ease 0s;}
.product-grid3 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-1{transform:scale(1.1)}
.product-grid3 .social{width:120px;padding:0;margin:0 auto;list-style:none;opacity:0;position:absolute;right:0;left:0;bottom:-23px;transform:scale(0);transition:all .3s ease 0s}
.product-grid3:hover .social{opacity:1;transform:scale(1)}
.product-grid3:hover .product-discount-label,.product-grid3:hover .product-new-label,.product-grid3:hover .title{opacity:0}
.product-grid3 .social li{display:inline-block}
.product-grid3 .social li a{color:#883997;background:#fff;font-size:18px;line-height:50px;width:50px;height:50px;border:1px solid rgba(0,0,0,.1);border-radius:50%;margin:0 2px;display:block;transition:all .3s ease 0s}
.product-grid3 .social li a:hover{background:#883997;color:#fff}
.product-grid3 .product-discount-label,.product-grid3 .product-new-label{background-color:#883997;color:#fff;font-size:17px;padding:2px 10px;position:absolute;right:10px;top:10px;transition:all .3s}
.product-grid3 .product-content{z-index:-1;padding:15px;text-align:left}
.product-grid3 .title{font-size:14px;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid3 .title a{color:#414141}

.product-grid3 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid3 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid3 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}

@media only screen and (max-width:1200px){.product-grid3 .rating{margin:0}
}
@media only screen and (max-width:990px){.product-grid3{margin-bottom:30px}
.product-grid3{margin:-22px 0 0}
}